Options -Indexes

RewriteEngine On
RewriteBase /mes_projet/library_mvc_project/

RewriteRule ^(app|Config|Core|Services|vendor)(/|$) - [F,NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]

<FilesMatch "^\.env$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
        Deny from all
    </IfModule>
</FilesMatch>

<FilesMatch "(^\.)|(\.(env|json|lock|md|sql|log|ini|dist)$)">
    Require all denied
</FilesMatch>
